# Python
venv/
__pycache__/
*.pyc

# dbt
target/
dbt_packages/
logs/

# Airflow
airflow.db
airflow-webserver.pid
logs/
standalone_admin_password.txt

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env
profiles.yml
*.pem

# Snowflake credentials
credentials.json